body {
margin: -17px 0 0 0;
font-family: Verdana, Geneva, sans-serif;
text-align: justify;
font-size: 12px;
line-height: 25px;
background-color: white;
}

#header {
    text-align: center;
    background-color: white;
    color: black;
    padding: 1px; 
    padding-top:20px
}

#content{
}

#container {background-color: #fbfbfa;
width: 100%;
margin-left: auto;
margin-right: auto}

#nav {
width: 100%;
background:gray;
    text-align: center; font-size: 25px;
    display: inline-block
}

#nav ul {
margin: 0;
padding: 0;
    display: inline-block;
    list-style-type: none;
}

#nav ul li {
list-style: none;
display: inline;
}

#nav li a {
display: block;
float: left;
padding: 10px 56.5px;
color: lightgray;
text-decoration: none;
font-size: 20px;
font-weight: bold;
}

#nav li a:hover {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
 
    
    -webkit-background-clip: text;
color:transparent;
text-shadow: 2px 2px #fff;
}

#main {width:600px;
float: right}

h1, h2, h3 {margin-left: 60px; margin-right: 60px; text-align: center}

#footer{clear: both;
padding: 10px;
background-color: white;
text-align: center}

#header img { width: 100px; height: auto}

#iphone img{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;}

iframe {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 660px; height: 415px}

p {margin-left: 60px; margin-right: 60px}

#sub{text-align: center}